body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .back {
  background-image: url("https://d99i6ad9lbm5v.cloudfront.net/uploads/image/file/5835/4-4.jpg");
} */
